{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'login_app/css/sample.css' %}" rel ="stylesheet">
    <title>パスワード再設定</title>
</head>
<body>
    <div class="logo">
        <img class="furattosalogo" src="{% static 'login_app/images/furattosalogo.png' %}"  width="246" height="82"> 
        {% comment %} width="984" height="329" {% endcomment %}
    </div>
    <form method="post">
        <h2 class="passreset">パスワード再発行</h2>
        {% csrf_token %}
        <p class="input_mail">メールアドレスを入力してください</p>
        <p>
        <label for="id_email">メールアドレス</label>
        <input type="email" name="email" maxlength="100" id="id_email">
        </p>
        <input type="submit"></input>
    </form>
</body>
</html>